.WeatherForecast {
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 700px) {
  .WeatherForecast {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.WeatherForecast canvas {
  display: block;
  margin: 5px auto;
}
